.item {
  list-style-type: none;

  &__title {
    display: inline-flex;
    align-items: center;
  }

  &__dot {
    margin-right: 8px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 24px;

    &--green {
      background-color: green;
    }
  }

  &__content {
  }
}
